body {
  font-family: Arial, sans-serif;
  background-color: rgb(248, 242, 234);
}

form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  textarea {
    height: 100px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 4px;
  }
  
  input[type="submit"]:hover {
      background-color: #45a049;
  }